
header {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.zero {
    width: 950px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.rom {
    margin-right: auto;
}

.toomuchclasses {
    background-color: #1F2937;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

p {
    font-size: 18px;
    color: #E5E7E9;
}

.signupbtn {
    color: white;
    border: #3882F6;
    background-color: #3882F6;
    border-radius: 10px;
    max-width: 120px;
    padding: 10px 20px;
}

.one {
    height: 300px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.two {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.box {
    height: 100%;
    display: flex;
    flex-basis: 450px;
    justify-content: center;
}

footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul {
    font-size: 24px;
    color: #F9FAF8;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 0px;
}

.logo {
    font-size: 24px;
    color: #E5E7E9;
    margin-right: auto;
    display: flex;
    align-items: center;
}


.logo2 {
    height: 50px;
    width: auto;
}

.four {
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 52px;
}

.small {
    width: 140px;
    height: 120px;
    border-radius: 5px;
}

.title {
    font-size: 40px;
    font-weight: 900;
    font-family: cursive;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text {
    font-size: small;
    font-family: cursive;
    width: 200px;
}

.five {
    height: 400px;
    background-color: #E5E7E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2 {
    font-size: 26px;
    font-style: italic;
    color: #1F2937;
    height: 200px;
    width: 750px;
}

.six {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seven {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 20px 50px;
    gap: 50px;
    border-radius: 15px;
}

.nine {
    border: 3px solid white;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 120px;
    padding: 10px 20px;
}

h2 {
    font-family: sans-serif;
    color: white;
}

p {
    font-family: sans-serif;
}