
header {
    background-color: #1F2937;
    height: 100px;
}

.toomuchclasses {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

p {
    font-size: 18px;
    color: #E5E7E9;
}

button {
    color: white;
    border: #3882F6;
    background-color: #3882F6;
    border-radius: 10px;
    max-width: 120px;
    padding: 10px 20px;
}

.one {
    height: 300px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.two {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.box {
    height: 100%;
    display: flex;
    flex-basis: 450px;
    justify-content: center;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul {
    font-size: 24px;
    color: #F9FAF8;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    padding-left: 0px;
}

.logo {
    margin-right: auto;
}